<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>New Puppy</h1>
    <p>Puppy Name: <%= @new_puppy.name %></p>
    <p>Puppy Breed: <%= @new_puppy.breed %></p>
    <p>Puppy Age: <%= @new_puppy.age %></p>
  </body>
</html>
